{% extends '.\template.html' %}
{% block title %} Add products {% endblock %}
{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Add products</h2>
        <div class="card">
            <div class="card body">
                <form action="" method="POST">
                    <div class="form-group">
                        <input type="text" id="input_name" name="input_name" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="input_category" name="input_category" class="form-control" placeholder="Category" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="input_total_quantity" name="input_total_quantity" class="form-control" placeholder="Total quantity" required>
                    </div>
                    <div class="form-group">
                        <input type="number" id="input_sale_price" name="input_sale_price" class="form-control" placeholder="Sale price" required>
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Total quantity</th>
                        <th>Sale price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in products %}
                        <tr>
                            <td>{{p.name}}</td>
                            <td>{{p.category}}</td>
                            <td>{{p.total_quantity}}</td>
                            <td>{{p.sale_price}}</td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

